services:
	-
	    class: PMarki\PHPStanRules\Rules\ConstRule
	    tags:
	        - phpstan.rules.rule
	-
	    class: PMarki\PHPStanRules\Rules\ProtectedMethodRule
	    tags:
	        - phpstan.rules.rule
	-
	    class: PMarki\PHPStanRules\Rules\ProtectedPropertyRule
	    tags:
	        - phpstan.rules.rule
	-
	    class: PMarki\PHPStanRules\Rules\DuplicatedArrayKeys
	    tags:
	        - phpstan.rules.rule
	-
	    class: PMarki\PHPStanRules\Rules\BooleanArgumentFlagRule
	    tags:
	        - phpstan.rules.rule
	-
	    class: PMarki\PHPStanRules\Rules\ExcessiveParameterListRule
	    arguments:
	        maxNumberOfParameters: %pmarki.excessiveParameterListRule.maxNumberOfParameters%
	    tags:
	        - phpstan.rules.rule

parameters:
    pmarki:
        excessiveParameterListRule:
            maxNumberOfParameters: 10

parametersSchema:
    pmarki: structure([
        excessiveParameterListRule: structure([
            maxNumberOfParameters: int(),
        ])
    ])

